@model IEnumerable<IdomoThingsProyect.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo Usuario", "Create", null, new { @class = "btn btn-warning glyphicon glyphicon-hdd" })
</p>
<table id="usuarioTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UsuarioID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.UsuarioID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UsuarioID })
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/datatables")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#usuarioTable').DataTable({
                "paging": true,
                "recordsFiltered": 2,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>
}
